.code {
  font-feature-settings: "liga", "dlig", "zero";
  text-rendering: optimizeLegibility;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  font-variant-ligatures: common-ligatures;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}
