<!DOCType html>
<html lang="en">

<head>
  <meta charset="utf-8">

  <title>HHEvaluation</title>
  <meta name="description" content="HHEvaluation - Evaluate Hack code.">
  <meta name="author" content="azjezz">
  <link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura-dark.css" type="text/css">
</head>

<body>
  <h2>HHEvaluation - Evaluate Hack code</h2>

  <hr />
  <form action="/execute" method="POST">
    <h4>Code</h4>
    <textarea cols="48" placeholder="Start hacking!" rows="8" type="text" id="code" name="code"></textarea>

    <input type="submit" value="Run" />
  </form>
</body>

</html>